@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 235 100% 67%;
  }

  html,
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: ui-sans-serif, system-ui, -apple-system;
  }
}
